@import 'webAndAdmin';

/** Header */
#navigation-admin li {
  padding-right: 20px;
  padding-left: 20px;
}

/** Mail Users */
.mail-user-tr {
  white-space: nowrap;
}

.mail-user-tr input {
  width: 175px;
}

.update-password-form {
  margin-left: 50px;
}

.update-password {
  width: 100px;
}

.delete-mail-user-button {
  margin-left: 50px;
}

.mail-user-tr input.btn {
  width: 75px;
}

/** Reviews */
.review-name {
  font-weight: bold;
  white-space: nowrap;
}

.review-content {
  padding: 20px;
}

/** Footer */
#delete-submit {
  width: 120px;
}