@import 'web';

.space-under {
  height: 20px;
}

.fa-star-shadow {
  text-shadow: 0 0 5px black;
}

// Aside styling
.generations {
  margin-bottom: 20px;
}

#title-types {
  margin-bottom: 13px;
}

#show-model-dialog, #show-review-dialog {
  width: 175px;
  font-weight: bold;
}

.row-rating {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

#login-link {
  font-weight: bold;
}

#rating-table {
  margin-right: auto;
  margin-left: auto;
}

.link-type {
  text-decoration: underline;
}

#generation-select {
  border-radius: 4px;
}

#generation-select:hover {
  cursor: pointer;
}

// View trim
.rating-trim-table, .specs-trim {
  margin-right: auto;
  margin-left: auto;
}

.collapse-specs {
  display: none;
}

.specs-trim {
  margin-top: 30px;
}

.to-rate-trim {
  margin-top: 20px;
  font-weight: bold;
}

@media (min-width: 370px) {
  
  .type-info-content {
    width: 370px;
  }
}

// Rating form styling
#body-modal-rate-form {
  padding: 0;
}

#rating-form-generation, #rating-form-series, #rating-form-trim {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

#close-rating-modal {
  margin-top: 30px;
  width: 60px;
  padding: 5px;
}

#rate-form, .type-info-content {
  margin: 0 auto;
}

.fa-star-form {
  color: lightgrey;
  float: right;
  border-color: #ddd;
  font-size: 30px;
  margin-right: 7px;
}

.radio-star {
  position: absolute;
  opacity: 0;
  z-index: 0;
  float: right;
  width: 1px;
  margin: 0;
  white-space: nowrap;
}

#no-html-allowed {
  color: red;
}

.label:hover {
  color: blue;
}

.radio-star:checked ~ .fa-star-form {
  color: gold;
}

.fa-star-form:hover, .fa-star-form:hover ~ .fa-star-form {
  color: blue !important;
}

@media (min-width: 990px) {
  #rating-heading {
    margin-right: 10%;
  }
}

@media (min-width: 390px) {
  #rate-form {
    width: 390px;
  }
}

@media (min-width: 400px) {
  #body-modal-rate-form {
    padding: 15px;
  }
}

// Thank you styling
#thank-you-dialog {
  width: 300px;
}

#thank-you-header {
  background-color: limegreen;
}

// Review styling
.disabled {
  cursor: not-allowed;
}

.disabled a {
  pointer-events: none;
}

#review-heading {
  margin-top: 40px;
  margin-bottom: 20px;
}

.review-article {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 30px;
}
