@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-stack: 'Open Sans', sans-serif;
$house-color-blue: #336699;
$house-color-blue-r: 51;
$house-color-blue-g: 102;
$house-color-blue-b: 153;

#error-display {
  list-style-type: none;
}

body {
  font-family: $font-stack;
  font-size: 20px;
}
