/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/data/*
!/data/.gitkeep
/logs/*
!/logs/redis
/logs/redis/*
!/logs/redis/.gitkeep
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/tmp/*
!/tmp/.gitkeep
.env
.phpunit.result.cache
.dockerignore
