<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
</IfModule>

<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "allow-from https://www.google.com/recaptcha/api.js"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains" env=HTTPS
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "same-origin"
    <FilesMatch "\\.(ico|jpe?g|png|gif|swf|css|js|ttf|woff|woff2|otf|eot)$">
            Header set Cache-Control "max-age=31536000, must-revalidate"
    </FilesMatch>
</IfModule>

<FilesMatch "\.(ttf|otf|eot|woff|woff2|jpeg|png)$">
    <IfModule mod_headers.c>
        SetEnvIf Origin "http(s)?://(www\.)?(carranker.com|accept.carranker.com|carranker)$" AccessControlAllowOrigin=$0
        Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
        Header merge Vary Origin
    </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
    RedirectMatch 403 ^/wp-admin/install.php?$
    RedirectMatch 403 ^/wp/wp-admin/install.php?$
    RewriteCond %{QUERY_STRING} ^author=([0-9]*)
    RewriteRule .* /? [L,R=302]
</IfModule>

<Files xmlrpc.php>
	Require all denied
</Files>
<Files readme.html>
  Require all denied
</Files>
<Files license.txt>
  Require all denied
</Files>
<Files wp-config.php>
  Require all denied
</Files>
<Files wp-tests-config.php>
  Require all denied
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^(www\.)?(accept\.)?cms\.carranker(:8080)?(\.com)?$
    RewriteCond %{REQUEST_URI} !^/wp/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /wp/$1 [L]
    RewriteCond %{HTTP_HOST} ^(www\.)?(accept\.)?cms\.carranker(:8080)?(\.com)?$
    RewriteRule ^(/)?$ wp/index.php [L]
</IfModule>

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
